body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: white;
}
ul {
  display: flex;
  flex-flow: wrap;
  justify-items: center;
  justify-content: space-evenly;
  max-width: 100vh;

  padding: 0;
}
ul > li {
  list-style-type: none;
  background-color: #05e63d;
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-weight: bolder;
  margin: 10px;
  width: 100px;
}

/* Navbar */
.page-navbar {
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
}

/* Main-Header Section/Component Styling */

.main-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 25vh;
  background: rgba(212, 211, 211, 0.03);
  border-radius: 10px;
  height: 50vh;
  margin-top: 10vh;
  margin-bottom: 50vh;

  color: white;
}
/* Projects Section/Component Styling */
.projects-title-text {
  padding-top: 20px;
  text-align: center;
  color: white;
}
.projects-container {
  margin-top: 5vh;
  background: rgba(212, 211, 211, 0.03);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100vh;
  height: 100vh;
  /* margin-bottom: 50vh; */
}

.projects-carousel-img {
  border: 3px solid rgb(64, 197, 93);
  border-radius: 20px;
  margin-bottom: 15vh;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 25vh;
  max-width: 80vh;
}

.projects-carousel-caption {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  bottom: -70px !important;
  padding-bottom: 20px;
  height: 40vh;
  /* height: 220px !important;
  padding: 200px !important; */
}

/* About Section/Component Styling */

.about-container {
  display: flex;
  justify-content: center;
  background: rgba(212, 211, 211, 0.03);
  margin-top: 50vh;
  margin-bottom: 50vh;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  height: 40vh;
}
.about-title-text {
  text-align: center;
}

/* Canvas Styling */
#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
